<h2>Holidays</h2>
<dl>
    
    <dt>tet</dt>
    <dd>
        {{Tet}}
        <br />(click <a href="/set-random-tet">here</a> to change randomly)
    
    
    </dd>
    <dt>chirstmate(from session):</dt>
    <dd>
        {{chirstmate}}
        <br />(click <a href="/set-random-chirstmate">here</a> to change randomly)    
    </dd>

</dl>
